body {
    background-color: #F9FAFC;
}

h1,
h2,
h3,
h4 {
    font-family: 'Playfair Display', serif;
}

.brand {
    font-family: 'Playfair Display', serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #f7f7f7;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #f7f7f7;
}

.dark-bg {
    background-color: #1a1a1a;
}

.main-bg {
    background-color: #f7f7f7;
}

.navbar {
    font-family: 'Merriweather', serif;
    font-family: 'Playfair Display', serif;
    background-color: #1a1a1a;
}

.nav-link {
    color: #f7f7f7;
}

.nav-link:hover {
    color: #6b6b6b;
}

.blog-heading {
    margin-top: 50px;
    margin-bottom: 50px;
}

.card {
    border: none;
    background-color: transparent;
}

.cards-home {
    border: 0.5px solid #1a1a1a;
    border-radius: 1%;
    height: 600px;
    overflow-y: scroll;
    width: 75%;
}

.image-container {
    position: relative;
}

.author {
    color: white margin: 4px;
    text-transform: uppercase;
}

.post-head {
    margin-top: 30px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    width: 100%;
}

.post-head-text {
    color: #1a1a1a;
    position: relative;
}

.post-head-img {
    position: relative;
    overflow: hidden;
}

.post-link {
    text-decoration: none;
    color: #1a1a1a;
}

.post-link:hover,
.page-link {
    color: #6b6b6b;
}

.post-title {
    color: #1a1a1a;
    font-size: 3rem;
}

.post-subtitle {
    color: #1a1a1a;
    font-size: 1rem;
}

.btn-signup {
    background-color: #23BBBB;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}