body {
    background-color: #F9FAFC;
}

h1,
h2,
h3,
h4 {
    font-family: 'Playfair Display', serif;
}

.about-paragraph {
    font-size: 1.5rem;
    font-weight: 400;
    font-family: 'Playfair Display', serif;
}

.brand {
    font-family: 'Playfair Display', serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #f7f7f7;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #f7f7f7;
}

.dark-bg {
    background-color: #1a1a1a;
}

.main-bg {
    background-color: #f7f7f7;
}

.navbar {
    font-family: 'Playfair Display', serif;
    background-color: #1a1a1a;
}

.nav-link {
    color: #f7f7f7;
}

.nav-link:hover {
    color: #6b6b6b;
}

.blog-heading {
    margin-bottom: 30px;
}

.alert-msg-top {
    margin-top: 100px;
}

.card {
    border: none;
    background-color: transparent;
}

.cards-home {
    border-radius: 1%;
    width: 75%;
    margin-bottom: 2rem;
    transition: transform .2s;
}

.cards-home:hover {
    transform: scale(1.03);
}

.card-footer {
    background-color: #f7f7f7;
    position: sticky;
    top: 100%;
}

.image-container {
    position: relative;
}

.post-head {
    margin-top: 30px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    width: 100%;
}

.post-head-text {
    color: #1a1a1a;
    position: relative;
}

.post-link {
    text-decoration: none;
    color: #1a1a1a;
}

.post-link:hover,
.page-link {
    color: #6b6b6b;
}

.post-title {
    text-align: center;
    color: #1a1a1a;
    font-size: 3rem;
}

.post-subtitle {
    text-align: center;
    color: #1a1a1a;
    font-size: 1rem;
    font-family: 'Playfair Display', serif;
}

.btn-signup {
    background-color: #1a1a1a;
    color: #f7f7f7;
    transition: transform .2s;
}

.btn-signup:hover,
.btn-signup:active {
    color: #6b6b6b;
    transform: scale(1.03);
}

.link {
    color: #1a1a1a;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #e81010;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #e81010;
    background: transparent;
    border: none;
}