{% extends "base.html" %}
{% block content %}

<div class="container-fluid">

    <div class="row">
        <!-- About page heading -->
        <h2 class="text-center blog-heading">About</h2>
        <div class="col-md-4 mx-auto">
            <h4 class="text-center">Welcome to <strong>sonictones!</strong></h4>
            <!-- About page paragraph -->
            <p class="text-center mt-4">
                My name is
                Christofer Asplund, and I am a
                huge
                lover of all things
                music.
                <br>
                I created this blog as my fourth project with the Code Institute.
                <br>
                <br>
                On sonicetones you will find reviews of the latest and greatest new music releases. Whether you are
                a casual
                listener or a die-hard music fan, I hope that you will find something here that resonates with you.
                I strive to
                provide honest and thought-provoking reviews that offer a unique perspective on the music that I am
                listening
                to.
                <br>
                <br>
                But sonicetones isn't just about my thoughts and opinions, it's also a community for music lovers to
                come
                together and discuss the latest releases. I encourage you to sign up and join in on the conversation
                by
                commenting and liking posts. Let's discover and discuss new music together!
                <br>
                <br>
                Thank you for stopping by sonicetones! I hope you enjoy your time here and find something that
                speaks to you.
                Whether you are looking for recommendations on new music to check out or just want to engage with
                like-minded
                music lovers, sonicetones is the place to be.
            </p>
        </div>
    </div>

</div>

{%endblock%}