{% extends "base.html" %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <!-- Search page heading -->
        <h4 class="text-center blog-heading">Search Results</h4>

        <!-- Blog entries column -->
        <div class="col-12 mt-3 mb-3 left">
            <div class="row">
                <!-- Display a card for each post in the post_list -->
                {% for post in post_list %}
                <div class="col-md-4 card-group">
                    <div class="card mb-4 d-flex align-items-center">
                        <div class="card-body cards-home border">
                            <!-- Link to the post detail page -->
                            <a href="{% url 'post_detail' post.slug %}" class="post-link">
                                <!-- Display the post's featured image -->
                                <div class="image-container">
                                    {% if "placeholder" in post.featured_image.url %}
                                    <img class="card-img-top" src="">
                                    {% else %}
                                    <img class="card-img-top" src=" {{ post.featured_image.url }}">
                                    {% endif %}
                                </div>
                                <!-- Display the post's title -->
                                <h2 class="card-title">{{ post.title }}</h2>
                                <!-- Display the post's excerpt -->
                                <p class="card-text">{{ post.excerpt }}</p>
                            </a>
                            <!-- Display the post's author, creation date, and number of likes -->
                            <div class="card-footer mt-auto">
                                <p class="card-text text-muted h6"><small>{{ post.author }} | {{ post.created_on}} | <i
                                            class="far fa-heart"></i>
                                        {{ post.number_of_likes }}</small></p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Insert a new row after every third card -->
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
        <!-- Blog entries column End -->
    </div>
    <!-- Navigation links for paginated results -->
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center m-4">
            <!-- Link to the previous page of results -->
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link btn-signup link-secondary">&larr;
                    PREV</a>
            </li>
            {% endif %}
            <!-- Link to the next page of results -->
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link btn-signup link-secondary"> NEXT
                    &rarr;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

{%endblock%}